<!DOCTYPE html>
<html lang="en">

<head>
  <%- include header.ejs %>
    <script type="text/javascript" src="../js/index.js"></script>
</head>

<body>
  <nav class="navbar navbar-inverse sidebar" role="navigation">
    <div class="container-fluid">
      <%- include small_device_nav.ejs %>
        <div id="tab" class="collapse navbar-collapse">
        </div>
    </div>
  </nav>

  <div id="main" class="main container-fluid text-center" style="overflow-x:auto;">

  </div>

  <script>
    var today_day = new Date().getDay();
    var now_hour = new Date().getHours();
    var data = <%-JSON.stringify(data)%>;
    var type = "<%=type%>";
    console.log(data);
    window.onload = function() {
      if (type == "index") {
        loadindex();
      } else if (type == "menu") {
        loadmenu();
      } else if (type == "order") {
        let orderdata = data;
        for (let i = 0; i < data.length; i++) {
          let temp = new Date(orderdata[i]['date']);
          orderdata[i]['date'] = temp;
        }
        loadorder(orderdata);
      } else if (type == "stat") {
        loadstat(data);
      } else if (type == "stat1") {
        let mon = "<%=month%>",
          ye = "<%=year%>";
        $("#main").removeClass("text-center");
        loadstat1(data, mon, ye);
      }
    }

    if (type == "order" && data.length > 7) {
      console.log("quit");
    }
    function loadindex() {
      var ht = "";
      ht += "<ul class='nav navbar-nav'>";
      ht += "<li class='active'><a href='/'>HOME<span style='font-size:16px;' class='pull-right hidden-xs glyphicon glyphicon-home'></span></a></li>";
      ht += "<li class='dropdown'>";
      ht += "<a href='/menu' class='dropdown-toggle' data-toggle='dropdown'>MENU<span class='caret'></span><span style='font-size:16px;' class='pull-right hidden-xs glyphicon glyphicon-cutlery'></span></a>";
      ht += "<ul class='dropdown-menu' role='menu'>";
      ht += "<li><a href='/menu'>TODAY</a></li>";
      ht += "<li><a href='/menu/mon'>MONDAY</a></li>";
      ht += "<li><a href='/menu/tue'>TUESDAY</a></li>";
      ht += "<li><a href='/menu/wed'>WEDNESDAY</a></li>";
      ht += "<li><a href='/menu/thu'>THURSDAY</a></li>";
      ht += "<li><a href='/menu/fri'>FRIDAY</a></li>";
      ht += "</ul></li>";
      ht += "<li><a href='/order'>ORDER<span style='font-size:16px;' class='pull-right hidden-xs glyphicon glyphicon-shopping-cart'></span></a></li>";
      ht += "<li class='dropdown'>";
      ht += "<a href='/statistic' class='dropdown-toggle' data-toggle='dropdown'>STATISTIC<span class='caret'></span><span style='font-size:16px;' class='pull-right hidden-xs glyphicon glyphicon-stats'></span></a>";
      ht += "<ul class='dropdown-menu' role='menu'>";
      ht += "<li><a href='/statistic'>TODAY</a></li><li><a href='/statistic/thismonth'>OTHER</a></li>";
      ht += "</ul></li></ul>";
      $('#tab').append(ht);

      var htm = "";
      htm += "<h2>Welcome</h2><p>This application is pre-ordering system in big scale restuarant to reduce food losses.</p><p>You can check lunch menu and order your lunch. If you want to order today lunch, you should order before 2 pm.</p>";
  htm += "<a href='http://www.sodexo.fi/leiritie' class='button'>Go to Sodexo Homepage</a>";
      htm +="<br><br><br><br><h2>How to order</h2><p>Go to the menu page and click the menu which you want.</p><p>If you want to add other menu, go back to the menu page.</p><p>If you want to complete the order, click the submit button at the bottom of the order page.</p>";

      $('#main').append(htm);
    }

    function loadmenu() {

      var html = "";
      html += "<ul class='nav navbar-nav'>";
      html += "<li><a href='/'>HOME<span style='font-size:16px;' class='pull-right hidden-xs glyphicon glyphicon-home'></span></a></li>";
      html += "<li class='active dropdown'>";
      html += "<a href='/menu' class='dropdown-toggle' data-toggle='dropdown'>MENU<span class='caret'></span><span style='font-size:16px;' class='pull-right hidden-xs glyphicon glyphicon-cutlery'></span></a>";
      html += "<ul class='dropdown-menu' role='menu'>";
      html += "<li><a href='/menu'>TODAY</a></li>";
      html += "<li><a href='/menu/mon'>MONDAY</a></li>";
      html += "<li><a href='/menu/tue'>TUESDAY</a></li>";
      html += "<li><a href='/menu/wed'>WEDNESDAY</a></li>";
      html += "<li><a href='/menu/thu'>THURSDAY</a></li>";
      html += "<li><a href='/menu/fri'>FRIDAY</a></li>";
      html += "</ul></li>";
      html += "<li><a href='/order'>ORDER<span style='font-size:16px;' class='pull-right hidden-xs glyphicon glyphicon-shopping-cart'></span></a></li>";
      html += "<li class='dropdown'>";
      html += "<a href='/statistic' class='dropdown-toggle' data-toggle='dropdown'>STATISTIC<span class='caret'></span><span style='font-size:16px;' class='pull-right hidden-xs glyphicon glyphicon-stats'></span></a>";
      html += "<ul class='dropdown-menu' role='menu'>";
      html += "<li><a href='/statistic'>TODAY</a></li><li><a href='/statistic/thismonth'>OTHER</a></li>";
      html += "</ul></li></ul>";
      $('#tab').append(html);
      var html1 = "";
      html1 += "<h2><%=dayofmenu%></h2><p>You can order meals.</br>Click menu which you want to order.</p></br>";
      html1 += "<div class='tablewrapper'><table class='table table-hover tablediv'>";
      html1 += "<thead><tr><th class='col-xs-3 text-center'>Menu</th><th class='col-xs-6 text-center'>Description</th><th class='col-xs-3 text-center'>Price (€)</th></tr></thead>";
      html1 += "<tbody id='menu'>";
      html1 += "<% for(var i=0; i<data.length; i++) {%>";
      html1 += "<tr id='<%=data[i]['category']%>_<%=data[i]['title_fi']%>_<%=date%>' onclick='clickmenu(this.id)'>";
      html1 += "<td id='menu_category' class='col-xs-3 text-center'>";
      html1 += "<%=data[i]['category'] %>";
      html1 += "</td>";
      html1 += "<td class='col-xs-6 text-left'>";
      html1 += "<%=data[i]['title_fi']%></br>";
      html1 += `<i><small><%= data[i]['desc_fi'] %></small></i>`;
      html1 += "</br>";
      html1 += "<%=data[i]['title_en']%></br>";
      html1 += `<i><small><%= data[i]['desc_en'] %></small></i>`;
      html1 += "</td>";
      html1 += "<td class='col-xs-3 text-center'>";
      html1 += "<%=data[i]['price']%></td></tr>";
      html1 += "<% } %>";
      html1 += "</tbody></table></div>";
      $('#main').append(html1);
    }
    function loadorder(orderdata) {
      let html2 = "";
      html2 += "<ul class='nav navbar-nav'>";
      html2 += "<li><a href='/'>HOME<span style='font-size:16px;' class='pull-right hidden-xs glyphicon glyphicon-home'></span></a></li>";
      html2 += "<li class='dropdown'>";
      html2 += "<a href='/menu' class='dropdown-toggle' data-toggle='dropdown'>MENU<span class='caret'></span><span style='font-size:16px;' class='pull-right hidden-xs glyphicon glyphicon-cutlery'></span></a>";
      html2 += "<ul class='dropdown-menu' role='menu'>";
      html2 += "<li><a href='/menu'>TODAY</a></li>";
      html2 += "<li><a href='/menu/mon'>MONDAY</a></li>";
      html2 += "<li><a href='/menu/tue'>TUESDAY</a></li>";
      html2 += "<li><a href='/menu/wed'>WEDNESDAY</a></li>";
      html2 += "<li><a href='/menu/thu'>THURSDAY</a></li>";
      html2 += "<li><a href='/menu/fri'>FRIDAY</a></li>";
      html2 += "</ul></li>";
      html2 += "<li class='active'><a href='/order'>ORDER<span style='font-size:16px;' class='pull-right hidden-xs glyphicon glyphicon-shopping-cart'></span></a></li>";
      html2 += "<li class='dropdown'>";
      html2 += "<a href='/statistic' class='dropdown-toggle' data-toggle='dropdown'>STATISTICS<span class='caret'></span><span style='font-size:16px;' class='pull-right hidden-xs glyphicon glyphicon-stats'></span></a>";
      html2 += "<ul class='dropdown-menu' role='menu'>";
      html2 += "<li><a href='/statistic'>TODAY</a></li><li><a href='/statistic/thismonth'>OTHER</a></li>";
      html2 += "</ul></li></ul>";
      $('#tab').append(html2);
      let html3 = "";
      html3 += "<h2>ORDER LIST</h2><p>This is your order list.</br>If you want to confirm your order, click order button.</p>";
      html3 += "<button id='order_button' class='btn btn-success pull-right' onclick='submitOrder(data)'>Order</button></br>";
      html3 += "<div class='tablewrapper'><table class='table tablediv'>";
      html3 += "<thead>";
      html3 += "<tr><th class='col-xs-3 text-center'>Date</th><th class='col-xs-3 text-center'>Menu</th><th class='col-xs-3 text-center'>Description</th><th class='col-xs-3 text-center'>Count</th><th class='col-xs-3 text-center'>Count Confirm</th><th class='col-xs-3 text-center'>Delete</th></tr></thead>";
      html3 += "<tbody id='orderlist'>";
      for (var i = 0; i < orderdata.length; i++) {
        html3 += "<tr>";
        html3 += "<td id='orderdate' class='col-xs-3 text-center'>";
        html3 += orderdata[i]['date'].toString().slice(0, 10) + "</td>";
        html3 += "<td class='col-xs-3 text-center'>";
        html3 += orderdata[i]['menu'] + "</td>";
        html3 += "<td class='col-xs-3 text-center'>";
        html3 += orderdata[i]['menutitle'] + "</td>";
        html3 += "<td class='col-xs-3 text-center'>";
        html3 += "<input type='number' id='" + orderdata[i]['_id'] + "_count' value='" + orderdata[i]['count'] + "' class='form-control'></td>";
        html3 += "<td class='col-xs-3 text-center'>";
        html3 += "<button id='" + orderdata[i]['_id'] + "_countsubmit' class='btn btn-default' onclick='confirm_count(this.id)'>";
        html3 += "<i class='glyphicon glyphicon-ok'></i></button></td>";
        html3 += "<td class='col-xs-3 text-center'>";
        html3 += "<button id='delete" + i + "' class='btn btn-default' onclick='delete_order(this.id)'>";
        html3 += "<i class='glyphicon glyphicon-remove'></i></button></td></tr>";
      }
      html3 += "</tbody></table></div>";
      $('#main').append(html3);
    }

    function loadstat1(orderdata, month, year) {
      var h2 = "";
      h2 += "<ul class='nav navbar-nav'>";
      h2 += "<li><a href='/'>HOME<span style='font-size:16px;' class='pull-right hidden-xs glyphicon glyphicon-home'></span></a></li>";
      h2 += "<li class='dropdown'>";
      h2 += "<a href='/menu' class='dropdown-toggle' data-toggle='dropdown'>MENU<span class='caret'></span><span style='font-size:16px;' class='pull-right hidden-xs glyphicon glyphicon-cutlery'></span></a>";
      h2 += "<ul class='dropdown-menu' role='menu'>";
      h2 += "<li><a href='/menu'>TODAY</a></li>";
      h2 += "<li><a href='/menu/mon'>MONDAY</a></li>";
      h2 += "<li><a href='/menu/tue'>TUESDAY</a></li>";
      h2 += "<li><a href='/menu/wed'>WEDNESDAY</a></li>";
      h2 += "<li><a href='/menu/thu'>THURSDAY</a></li>";
      h2 += "<li><a href='/menu/fri'>FRIDAY</a></li>";
      h2 += "</ul></li>";
      h2 += "<li><a href='/order'>ORDER<span style='font-size:16px;' class='pull-right hidden-xs glyphicon glyphicon-shopping-cart'></span></a></li>";
      h2 += "<li class='active dropdown'>";
      h2 += "<a href='/statistic' class='dropdown-toggle' data-toggle='dropdown'>STATISTICS<span class='caret'></span><span style='font-size:16px;' class='pull-right hidden-xs glyphicon glyphicon-stats'></span></a>";
      h2 += "<ul class='dropdown-menu' role='menu'>";
      h2 += "<li><a href='/statistic'>TODAY</a></li><li><a href='/statistic/thismonth'>OTHER</a></li>";
      h2 += "</ul></li></ul>";
      $('#tab').append(h2);
      var h3 = "";
      h3 += "<h2>STATISTICS</h2><p>This graph shows the total number of orders for each day.</p>";
      h3 += "<div class='dropdown'>";
      h3 += "<button class='btn btn-success dropdown-toggle' type='button' data-toggle='dropdown'>Month<span class='caret'></span></button>";
      h3 += "<ul class='dropdown-menu' role='menu' aria-labelledby='menu1'>";
      h3 += "<li><a href='/statistic/jan'>January</a></li><li><a href='/statistic/feb'>February</a></li><li><a href='/statistic/mar'>March</a></li><li><a href='/statistic/apr'>April</a></li>";
      h3 += "<li><a href='/statistic/may'>May</a></li><li><a href='/statistic/jun'>June</a></li><li><a href='/statistic/jul'>July</a></li><li><a href='/statistic/aug'>August</a></li>";
      h3 += "<li><a href='/statistic/sep'>September</a></li><li><a href='/statistic/oct'>October</a></li><li><a href='/statistic/nov'>November</a></li><li><a href='/statistic/dec'>December</a></li>";
      h3 += "</ul></div><div class='chartwrapper'><canvas id='myChart' class='chartdiv'></canvas></div>";
      $('#main').append(h3);
      eachday_draw_chart(orderdata, month, year);
    }
    function loadstat(orderdata) {
      var h = "";
      h += "<ul class='nav navbar-nav'>";
      h += "<li><a href='/'>HOME<span style='font-size:16px;' class='pull-right hidden-xs glyphicon glyphicon-home'></span></a></li>";
      h += "<li class='dropdown'>";
      h += "<a href='/menu' class='dropdown-toggle' data-toggle='dropdown'>MENU<span class='caret'></span><span style='font-size:16px;' class='pull-right hidden-xs glyphicon glyphicon-cutlery'></span></a>";
      h += "<ul class='dropdown-menu' role='menu'>";
      h += "<li><a href='/menu'>TODAY</a></li>";
      h += "<li><a href='/menu/mon'>MONDAY</a></li>";
      h += "<li><a href='/menu/tue'>TUESDAY</a></li>";
      h += "<li><a href='/menu/wed'>WEDNESDAY</a></li>";
      h += "<li><a href='/menu/thu'>THURSDAY</a></li>";
      h += "<li><a href='/menu/fri'>FRIDAY</a></li>";
      h += "</ul></li>";
      h += "<li><a href='/order'>ORDER<span style='font-size:16px;' class='pull-right hidden-xs glyphicon glyphicon-shopping-cart'></span></a></li>";
      h += "<li class='active dropdown'>";
      h += "<a href='/statistic' class='dropdown-toggle' data-toggle='dropdown'>STATISTICS<span class='caret'></span><span style='font-size:16px;' class='pull-right hidden-xs glyphicon glyphicon-stats'></span></a>";
      h += "<ul class='dropdown-menu' role='menu'>";
      h += "<li><a href='/statistic'>TODAY</a></li><li><a href='/statistic/thismonth'>OTHER</a></li>";
      h += "</ul></li></ul>";
      $('#tab').append(h);
      var h1 = "";
      h1 += "<h2>TODAY'S ORDER</h2><p>This graph shows today's order.</p></br>";
      h1 += "<div class='chartwrapper'><canvas id='myChart' class='chartdiv'></canvas></div>";
      $('#main').append(h1);
      today_draw_chart(orderdata);
    }
  </script>
  <footer class="container-fluid text-center">
    <p><img src="../img/metropolia.png" width="150" style="margin-top:0.35cm;">  <img src="../img/sodexo.png" width="100"></p>
  </footer>
</body>

</html>
