<!DOCTYPE html>
<html lang="en">

<head>
  <%- include header.ejs %>
  <script type = "text/javascript" src="../../js/menu.js"></script>
</head>

<body>
  <nav class="navbar navbar-inverse sidebar" role="navigation">
    <div class="container-fluid">
      <%- include small_device_nav.ejs %>
        <div id="tab" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">HOME<span style="font-size:16px;" class="pull-right hidden-xs glyphicon glyphicon-home"></span></a></li>
            <li class="active dropdown">
              <a href="/menu" class="dropdown-toggle" data-toggle="dropdown">MENU<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs glyphicon glyphicon-cutlery"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/menu">TODAY</a></li>
                <li><a href="/menu/mon">MONDAY</a></li>
                <li><a href="/menu/tue">TUESDAY</a></li>
                <li><a href="/menu/wed">WEDNESDAY</a></li>
                <li><a href="/menu/thu">THURSDAY</a></li>
                <li><a href="/menu/fri">FRIDAY</a></li>
              </ul>
            </li>
            <li><a href="/order">ORDER<span style="font-size:16px;" class="pull-right hidden-xs glyphicon glyphicon-shopping-cart"></span></a></li>
            <li class="dropdown">
              <a href="/statistic" class="dropdown-toggle" data-toggle="dropdown">STATISTIC<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs glyphicon glyphicon-stats"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/statistic">TODAY</a></li>
                <li><a href="/statistic/week">WEEKLY</a></li>
                <li><a href="/statistic/month">MONTHLY</a></li>
              </ul>
            </li>
          </ul>
        </div>
    </div>
  </nav>
  <div class="main container-fluid text-center">
    <h2><%=dayofmenu%></h2>
    <p>You can order meals.</br>Click menu which you want to order.</p>
    </br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-xs-3 text-center">Menu</th>
          <th class="col-xs-6 text-center">Description</th>
          <th class="col-xs-3 text-center">Price</th>
        </tr>
      </thead>
      <tbody id="menu">
        <% for(var i=0; i<menus.length; i++) {%>
          <tr id="<%=menus[i]['category']%>_<%=date%>" onclick="clickmenu(this.id)">
            <td id="menu_category" class="col-xs-3 text-center">

              <%=menus[i]['category'] %>
            </td>
            <td class="col-xs-6 text-left">
              <%=menus[i]['title_fi']%>
                <%=menus[i]['desc_fi']%><br>
                  <%=menus[i]['title_en']%>
                    <%=menus[i]['desc_en']%>
            </td>
            <td class="col-xs-3 text-center">
              <%=menus[i]['price']%>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </div>
  <script type="text/javascript">
  var today_day = new Date().getDay();
    var now_hour = new Date().getHours();
    var day_num = {
      "MONDAY MENU": 1,
      "TUESDAY MENU": 2,
      "WEDNESDAY MENU": 3,
      "THURSDAY MENU": 4,
      "FRIDAY MENU": 5
    };
    var clickday = "<%=dayofmenu%>";
    $(".nav>li").each(function() {
      var navItem = $(this);
      if (navItem.find("a").attr("href") == location.pathname) {
        navItem.addClass("active");
      }
    });

  </script>
</body>

</html>
