<!DOCTYPE html>
<html lang="en">

<head>
  <%- include header.ejs %>

</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid" color="white">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="#">Food Order System</a>
      </div>
      <div class="collapse navbar-collapse navbar-right" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/">HOME</a></li>
          <li class="active"><a href="/menu">MENU</a></li>
          <li><a href="/order">ORDER</a></li>
          <li><a href="/statistic">STATISTIC</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="contents" class="container-fluid text-center" >
    <div class="row content">
      <div class="col-sm-2 sidenav">
        <h4>MENU</h4>
          <ul class="nav nav-pills nav-stacked">
            <li><a href="/menu">TODAY</a></li>
          <li><a href="/menu/mon">MONDAY</a></li>
          <li><a href="/menu/tue">TUESDAY</a></li>
          <li><a href="/menu/wed">WEDNESDAY</a></li>
          <li><a href="/menu/thu">THURSDAY</a></li>
          <li><a href="/menu/fri">FRIDAY</a></li>
        </ul>
      </div>
      <div class="col-sm-9 text-center" >
        <h2><%=dayofmenu%></h2>
        <p>You can order meals.</br>Click menu which you want to order.</p></br>
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="col-xs-3 text-center">Menu</th>
              <th class="col-xs-6 text-center">Description</th>
              <th class="col-xs-3 text-center">Price</th>
            </tr>
          </thead>
          <tbody id = "menu">
            <% for(var i=0; i<menus.length; i++) {%>
            <tr id = "<%=menus[i]['_id']%>" onclick="clickmenu(this.id)">
              <td class="col-xs-3 text-center"><%=menus[i]['menu']%></td>
              <td class="col-xs-6 text-left"><%=menus[i]['fidescription']%><br><%=menus[i]['endescription']%></td>
              <td class="col-xs-3 text-center"><%=menus[i]['price']%></td>
            </tr>
        <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <footer class="container-fluid text-center">
    <img src="img/sodexo.png" width="80"><img src="img/metropolia.png" width="100">
  </footer>
  <script type="text/javascript">
  $(".nav>li").each(function() {
    var navItem = $(this);
    if (navItem.find("a").attr("href") == location.pathname) {
      navItem.addClass("active");
    }
});

  function clickmenu(id){
    console.log(data);
    var data = {"id":id};
    console.log(data);
    $.ajax({
      type: 'POST',
      url:'/menu',
      data: JSON.stringify(data),
      dataType: 'json',
      contentType: 'application/json',
      success: function(data) {
        console.log('success to send');
        console.log(data);
        window.location = '/order'
      }
    });

  }
  </script>
</body>

</html>
